 @model Equipe
    @{
        ViewData["Title"] = "Equipes";

    <form method="post" action="@Url.Action("Cadastrar")"enctype="multipart/form-data">

    <label for= "IdNoticia">IdEquipe</label>
    <input type="text" name="IdEquipe" id = "Equipes"/>

    <label for = "Nome">Nome</label>
    <input type= "text" name="Nome" id= "Nome"/>

    <label for = "Imagem">Imagem</label>
    <input type="file" name="Imagem" id= "Imagem"/>

    <button type="submit">Cadastrar</button>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Imagem</th>
    </thead>
    <tbody>
        @foreach(Equipe item in ViewBag.equipes){
            <tr>
                <td>@item.IdEquipe</td>
                <td>@item.Nome</td>

                <td><img src="img/Equipes/@item.Imagem" alt="Imagem da equipe @item.Nome" width="70"></td>
                <td><a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@item.IdEquipe">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>
    }